---
name: Grow Your List Faster
short_name: Grow Your List Faster
short_description: Tailor your opt-in forms

hero:
  centered: true
  title: Convert more drive-by website visitors into email list subscribers
  description: Replace your "one-size-fits-all" forms with personalized opt-in forms that are guaranteed to turn more visitors into email subscribers.

steps:
  -
    headline: Someone shows up on your website
    description: >
      Our behavioral segmentation kicks in... analyzing what kind of content they're reading, what pages they've visited, and so on.

  -
    headline: They're asked about what they're looking for
    description: >
      You can then ask them what they're looking for. Why are they here? What problem led them to seek you out?

  -
    headline: An opt-in form personalized to them and their needs is shown
    description: >
      Now's where things get fun! Instead of just showing your standard, _tired_ opt-in form, RightMessage will instead generate a fully personalized (and beautiful!) opt-in that speaks directly to their needs and what they've done on your site so far.

  -
    headline: All opt-ins on your website – popups, slide ups, and more – all show your personalized offer
    description: >
      Not everyone will opt-in immediately after you find out what they need. No worries. We'll remember why they're here, and as they move around your website every opt-in form they see will be fully personalized.

  -
    headline: Start off with more than a blank new subscriber
    description: >
      Once someone opts-in to one of our personalized forms, everything we've learned about them... why they're here, what kind of content they're reading the most of, what ad campaign they came from, and more will be synced up to their new record in your email marketing database.

why_this_works:
  direction: center
  headline: Why this gets more subscribers than the "old way" of setting up opt-in forms
  content: >
    Our beautifully designed (and conversion-optimized) widget designs ensure
    that, no matter _how_ you want to get people onto your email list, we've got
    you covered.


    Your RightMessage account includes floating bars, full screen takeovers, exit popups, slide ins, and more.
  testimonial:
    content: >
      RightMessage is a game-changer. By personalizing our offer pages (using data RightMessage helped collect), we were able to add more than $100k in net new revenue to our last big promotion.
    name: Pat Flynn

cta_funnel:
  direction: left
  features:
    - name: Visually map your journey
      description: A birds eye view of how you're surveying and pitching website visitors
    - name: Subscriber awareness
      description: Ensure returning subscribers never see another opt-in form
    - name: Deep integrations with your email database
      description: Change survey questions or offers based on what you know about visitors
    - name: Unified widgets
      description: Every widget and form on your website will be in harmony
    - name: Enrich your ESP
      description: When visitors are surveyed or key actions are taken on your website, we'll sync that data up to your email database

---

{% include marketing-blocks/hero.html %}

{% include marketing-blocks/steps.html %}

{% include marketing-blocks/content-and-testimonial.html content=page.why_this_works %}

{% include marketing-blocks/feature-carousel.html content=page.cta_funnel %}

{% include marketing-blocks/use-cases.html headline="RightMessage will help you build your list faster, and can also help you..." %}
